
section
      h2 24/7 peace of mind health
      .clearfix
        .text
          h3 Support through illnesess
          p Our services support loved ones going through serious illnesses, including Parkinson’s, Alzheimer’s, COPD, Multiple Sclerosis, Cancer
        .text 
          h3 Personally matched
          p We match caretakers personally based on personality and service needs. And switch them as needed for different services.
        .text
          h3 Online doctors
          p We provide 24/7 support through phone or web chat. You will gain access to our house call doctors and visiting nurses.
        .text  
          h3 Licensed professionals
          p Every nurse and caretaker hold certificate of special mediacal education. We also organise courses for them to deliver the best service.
      .container
          .photo
            img(src="img/jack.jpg")
          .text-bottom
            p Jim is very kind and plays chess with our grandpa everyday. I am happy I found TrueCare24!
            strong Jack